:root {
  font-size: 4rem;
}

#root {
  display: grid;
  grid-template-rows: 30vh 70vh;
}

#root div {
  border: 1px solid gray;
}

#output {
  background-color: rgb(57, 57, 57);
  color: white;
  text-align: right;
}

#input {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#input div {
  text-align: center;
}

#operands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(230, 230, 230);
}

#operators {
  display: flex;
  flex-direction: column;
  background-color:rgb(255, 145, 36);
  color: white;
}

#operators > div {
  flex: 1;
}

#operands > div:nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: -2;
}

#equals {
  background-color: green;
}

@media (orientation: landscape) {
  #root {
    /* Why this particular value? It's the CSS width of the iPhone 12 Pro Max */
    max-width: 428px;
  }
}
